<div class="modal-header">
  <h4 class="modal-title">Keyboard shortcuts</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body shortcut-keys">
  <section *ngFor="let group of groups" class="shortcut-group">
    <h5>{{ group.title }}</h5>
    <dl>
      <ng-container *ngFor="let shortcut of group.shortcuts">
        <dt>{{ shortcut.action }}</dt>
        <dd>
          <kbd>{{ shortcut.keys }}</kbd>
        </dd>
      </ng-container>
    </dl>
  </section>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
