######################
# Node
######################
/node/
node_modules/

######################
# Build / target
######################
/target/
/build/

######################
# IDE
######################
.idea/
*.iml
.vscode/

######################
# OS
######################
.DS_Store

######################
# Logs
######################
*.log

######################
# Extracted archive (source is in src/)
######################
/extracted/
