.palette {
  width: 360px;
  box-sizing: border-box;
  padding: 16px;
}
.djs-visual rect{
  stroke: rgb(0, 0, 0) !important;
  stroke-width: 2px;
  fill: rgb(255, 255, 255);
  fill-opacity: 0;
}
.djs-visual g image{
  padding: 10px !important;
  margin: 50px !important;
}
.transformer-module{
  background-image: url("../bpmn-icons/transformerModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.transformer-module:active{
  background-image: url("../bpmn-icons/transformerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.transformer-module::selection{
  background-image: url("../bpmn-icons/transformerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}

.csvTransformer-module{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.csvTransformer-module:active{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.csvTransformer-module::selection{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}


.csvTransformerCorner{
  background-image: url("../bpmn-icons/corner-icons/csvTransformerModule_corner.svg");
  background-size: 0.5em 0.5em;
  background-position: center center;
  background-repeat: no-repeat;
}

.merger-module{
  background-image: url("../bpmn-icons/mergerModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.merger-module:active{
  background-image: url("../bpmn-icons/mergerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.merger-module::selection{
  background-image: url("../bpmn-icons/mergerModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.mergerCorner{
  background-image: url("../bpmn-icons/corner-icons/mergerModule_corner.svg");
  background-size: 0.5em 0.5em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fragmenter-module{
  background-image: url("../bpmn-icons/fragmenterModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fragmenter-module:active{
  background-image: url("../bpmn-icons/fragmenterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fragmenter-module::selection{
  background-image: url("../bpmn-icons/fragmenterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fragmenterCorner{
  background-image: url("../bpmn-icons/corner-icons/fragmenterModule_corner.svg");
  background-size: 0.5em 0.5em;
  background-position: center center;
  background-repeat: no-repeat;
}



.KafkaTransmitter-module{
  background-image: url("../bpmn-icons/kafkaTransmitterModule.svg");
  background-size: 1.5em 1.5em;
  background-position: center center;
  background-repeat: no-repeat;
}
.KafkaTransmitter-module:active{
  background-image: url("../bpmn-icons/kafkaTransmitterModule.svg");
  background-size: 1.8em 1.8em;
  background-position: center center;
  background-repeat: no-repeat;
}
.KafkaTransmitter-module::selection{
  background-image: url("../bpmn-icons/kafkaTransmitterModule.svg");
  background-size: 1.8em 1.8em;
  background-position: center center;
  background-repeat: no-repeat;
}
.KafkaTransmitterCorner{
  background-image: url("../bpmn-icons/corner-icons/kafkaTransmitterModule_corner.svg");
  background-size: 1.5em 1.5em;
  background-position: center center;
  background-repeat: no-repeat;
}



.KafkaReceiver-module{
  background-image: url("../bpmn-icons/kafkaReceiverModule.svg");
  background-size: 1.1em 1.1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.KafkaReceiver-module:active{
  background-image: url("../bpmn-icons/kafkaReceiverModule.svg");
  background-size: 1.4em 1.4em;
  background-position: center center;
  background-repeat: no-repeat;
}
.KafkaReceiver-module::selection{
  background-image: url("../bpmn-icons/kafkaReceiverModule.svg");
  background-size: 1.4em 1.4em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpTransmitter-module{
  background-image: url("../bpmn-icons/httpTransmitterModule.svg");
  background-size: 1.7em 1.7em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpTransmitter-module:active{
  background-image: url("../bpmn-icons/httpTransmitterModule.svg");
  background-size: 2em 2em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpTransmitter-module::selection{
  background-image: url("../bpmn-icons/httpTransmitterModule.svg");
  background-size: 2em 2em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpReceiver-module{
  background-image: url("../bpmn-icons/httpReceiverModule.svg");
  background-size: 1.6em 1.6em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpReceiver-module:active{
  background-image: url("../bpmn-icons/httpReceiverModule.svg");
  background-size: 1.9em 1.9em;
  background-position: center center;
  background-repeat: no-repeat;
}
.HttpReceiver-module::selection{
  background-image: url("../bpmn-icons/httpReceiverModule.svg");
  background-size: 1.9em 1.9em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileTransmitter-module{
  background-image: url("../bpmn-icons/fileTransmitterModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileTransmitter-module:active{
  background-image: url("../bpmn-icons/fileTransmitterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileTransmitter-module::selection{
  background-image: url("../bpmn-icons/fileTransmitterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileReceiver-module{
  background-image: url("../bpmn-icons/fileReceiverModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileReceiver-module:active{
  background-image: url("../bpmn-icons/fileReceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.fileReceiver-module::selection{
  background-image: url("../bpmn-icons/fileReceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbTransmitter-module{
  background-image: url("../bpmn-icons/dbTransmitterModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbTransmitter-module:active{
  background-image: url("../bpmn-icons/dbTransmitterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbTransmitter-module::selection{
  background-image: url("../bpmn-icons/dbTransmitterModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbReceiver-module{
  background-image: url("../bpmn-icons/dbReceiverModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbReceiver-module:active{
  background-image: url("../bpmn-icons/dbReceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.dbReceiver-module::selection{
  background-image: url("../bpmn-icons/dbReceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.eventaDbReceiver-module{
  background-image: url("../bpmn-icons/eventaDbReeceiverModule.svg");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.eventaDbReceiver-module:active{
  background-image: url("../bpmn-icons/eventaDbReeceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.eventaDbReceiver-module::selection{
  background-image: url("../bpmn-icons/eventaDbReeceiverModule.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.bpmn-icon-cdrParserModule{
  background-image: url("../bpmn-icons/bpmn-icon-cdrParserModule.svg");
  background-size: 2.2em 2.2em;
  background-position: center center;
  background-repeat: no-repeat;
}
.bpmn-icon-cdrParserModule:active{
  background-image: url("../bpmn-icons/bpmn-icon-cdrParserModule.svg");
  background-size: 2.5em 2.5em;
  background-position: center center;
  background-repeat: no-repeat;
}
.bpmn-icon-cdrParserModule::selection{
  background-image: url("../bpmn-icons/bpmn-icon-cdrParserModule.svg");
  background-size: 2.5em 2.5em;
  background-position: center center;
  background-repeat: no-repeat;
}
.csvTransformer-module{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1.5em 1.5em;
  background-position: center center;
  background-repeat: no-repeat;
}
.csvTransformer-module:active{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1.8em 1.8em;
  background-position: center center;
  background-repeat: no-repeat;
}
.csvTransformer-module::selection{
  background-image: url("../bpmn-icons/csvTransformerModule.svg");
  background-size: 1.8em 1.8em;
  background-position: center center;
  background-repeat: no-repeat;
}




.httpReceiverEventa-module{
  background-image: url("../bpmn-icons/httpReceiverModuleEventa.svg");
  background-size: 1.1em 1.1em;
  background-position: center center;
  background-repeat: no-repeat;
}
.httpReceiverEventa-module:active{
  background-image: url("../bpmn-icons/httpReceiverModuleEventa.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}
.httpReceiverEventa-module::selection{
  background-image: url("../bpmn-icons/httpReceiverModuleEventa.svg");
  background-size: 1.3em 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
}




.djs-popup-group{
  display: flex !important;
}
