<form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="reset.finish.title">Change Password operation</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <h2 jhiTranslate="password.title" [translateValues]="{ username: user.login }" *ngIf="user">
      Password for [<strong>{{ user.login }}</strong
      >]
    </h2>
    <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
      <strong>Password changed!</strong>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
      <input type="password" autocomplete="off" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" />
      <div
        *ngIf="
          passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('newPassword')?.errors?.required"
          jhiTranslate="global.messages.validate.newpassword.required"
        >
          Your password is required.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
          jhiTranslate="global.messages.validate.newpassword.minlength"
        >
          Your password is required to be at least 4 characters.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
          jhiTranslate="global.messages.validate.newpassword.maxlength"
        >
          Your password cannot be longer than 50 characters.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
        >New password confirmation</label
      >
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        autocomplete="off"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          passwordForm.get('confirmPassword')?.invalid &&
          (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
          jhiTranslate="global.messages.validate.confirmpassword.required"
        >
          Your confirmation password is required.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
          jhiTranslate="global.messages.validate.confirmpassword.minlength"
        >
          Your confirmation password is required to be at least 4 characters.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
          jhiTranslate="global.messages.validate.confirmpassword.maxlength"
        >
          Your confirmation password cannot be longer than 50 characters.
        </small>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
    The password and its confirmation do not match!
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary d-flex justify-content-center align-items-center p-1">
      &nbsp;<span jhiTranslate="reset.finish.title">Change Password</span>
    </button>
  </div>
</form>
