<div #designerContainer [ngClass]="containerClasses" id="designer-container">
  <jhi-toolbar *ngIf="showToolbar"></jhi-toolbar>

  <div class="main-content">
    <jhi-palette *ngIf="customPalette"></jhi-palette>

    <jhi-designer [xml]="processXml" (xmlUpdate)="onXmlUpdate($event)"> </jhi-designer>

    <jhi-panel *ngIf="customPanel"></jhi-panel>
    <div *ngIf="!customPanel" class="camunda-penal" id="camunda-penal"></div>
  </div>

  <jhi-settings [settings]="editorSettings" (settingsUpdate)="onSettingsUpdate($event)"> </jhi-settings>

  <jhi-context-menu></jhi-context-menu>
</div>
